// title sizes

$sizes: "h1" 700 38px 46px, "h2" 700 30px 37px, "h3" 700 22px 27px,
  "h4" 700 16px 20px, "h5" 700 14px 17px, "h6" 700 12px 16px;

@each $name, $weight, $size, $height in $sizes {
  .title-#{$name} {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
  }
}

// text sizes

$sizes: "xxl" 400 36px 44px, "extra" 400 21px 30px, "xl" 400 19px 30px,
  "exlg" 400 20px 24px, "large" 400 18px 26px, "exmd" 400 16px 26px,
  "md" 700 16px 20px, "middle" 400 16px 20px, "sm" 400 14px 22px,
  "exsm" 700 12px 15px;

@each $name, $weight, $size, $height in $sizes {
  .title-#{$name} {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
  }
}

.txt--center {
  text-align: center;
}
