.header-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "logo info"
    "logo nav";
  @media screen and(max-width: 880px) {
    grid-template-areas:
      "info"
      "logo"
      "nav";
  }
  @include breakpoint(sm) {
    grid-template-areas:
      "info info"
      "logo burger";
  }
  &__logo {
    grid-area: logo;
  }
  &__info {
    grid-area: info;
  }
  &__nav {
    grid-area: nav;
  }
}

.header-grid__logo {
  @media screen and(max-width: 880px) {
    margin: 30px 0;
  }
  @include breakpoint(sm) {
    align-items: center;
    margin: 0;
  }
  &--icon {
    width: 130px;
    @include breakpoint(sm) {
      width: 70px;
    }
  }
  &--text,
  &--slash {
    visibility: hidden;
    @include breakpoint(sm) {
      visibility: visible;
    }
  }
}

.header-grid__info {
  justify-content: space-between;
  @include breakpoint(sm) {
    padding: 10px 0;
    margin-bottom: 15px;
  }
  &--item {
    &-link {
      display: inline-block;
      position: relative;
      transition: all 0.3s ease;
      &:not(:last-child) {
        margin-right: 24px;
        @include breakpoint(sm) {
          margin-right: 0;
        }
      }
      &:after {
        content: "";
        padding: 3px;
        background-color: $indigo-50;
        border-radius: 50%;
        left: -14px;
        top: 35%;
        position: absolute;
        @include breakpoint(sm) {
          display: none;
        }
        &:hover {
          color: $pink-500;
        }
      }
    }
  }
}

.facebook {
  transition: all 0.3s ease;
  &:hover {
    fill: $pink-500;
  }
}

.header-facebook {
  display: block;
  @include breakpoint(sm) {
    display: none;
  }
}

.address {
  @include breakpoint(sm) {
    display: none;
  }
}

.header-grid__info--nav {
  margin-right: 25px;
  align-items: center;
  .language-nav {
    grid-area: lang;
    &__btn {
      display: none;
    }
    &__label {
      background-color: transparent;
      padding: 5px 7px;
      text-transform: uppercase;
      border: none;
      text-align: center;
      transition: all 0.3s ease;
      letter-spacing: 1px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
      }
    }
    &__btn:checked + .language-nav__label {
      padding: 5px 7px;
      border-radius: 8px;
      background-color: $pink-500;
    }
  }
}

.language-nav {
  grid-area: lang;
  &__btn {
    display: none;
  }
  &__light {
    background-color: transparent;
    padding: 5px 7px;
    text-transform: uppercase;
    border: none;
    text-align: center;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      padding: 5px 7px;
      background-color: $blue-grey;
      border-radius: 8px;
    }
  }
  &__btn:checked + .language-nav__light {
    padding: 5px 7px;
    border-radius: 8px;
    background-color: $pink-500;
    color: $white;
  }
}

@include breakpoint(sm) {
  .section-first__header::after {
    content: "";
    background-color: rgba(245, 245, 250, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
  }
}

// burger-menu

.navbar {
  justify-content: end;
  @media (min-width: 576px) {
    flex-wrap: nowrap;
  }
  &-toggler-burger {
    display: none;
    @media screen and(max-width: 576px) {
      display: block;
    }
  }
  &-btn {
    grid-area: burger;
    border: none;
    background-color: transparent;
    padding: 6px 7px;
    &:hover {
      background-color: $indigo-50;
      border-radius: 8px;
    }
    &-icon {
      color: $white;
    }
  }
}

.header-grid__nav {
  margin-top: 16px;
  @media screen and(max-width: 880px) {
    margin-top: 0;
  }
  &-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
    height: 43px;
    @media screen and(max-width: 880px) {
      justify-content: flex-start;
      margin-left: -10px;
    }
    @include breakpoint(sm) {
      flex-direction: column;
      margin-top: 0;
      margin-left: 0;
    }
    &--item {
      @include breakpoint(sm) {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        height: 43px;
        padding: 7px 0;
        border-radius: 12px;
        background-color: $blue-grey;
        color: $white;
        &:hover {
          background-color: $indigo-50;
        }
      }
      &__link {
        color: $white;
        transition: all 0.3s ease;
        &:hover {
          color: $pink-500;
          border-bottom: 2px solid $pink-500;
        }
        @include breakpoint(sm) {
          color: $blue-500;
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.offcanvas {
  @include breakpoint(sm) {
    min-height: 50%;
    max-width: calc(100% - 16px);
    width: 100%;
    padding: 12px;
    border-radius: 12px 12px 0px 0px;
    background: $white;
    margin: 0 auto;
    overflow-y: auto;
  }
  &-header {
    padding: 0;
    margin-bottom: 27px;
  }
}

.link-active {
  @include breakpoint(sm) {
    color: $pink-500;
  }
}

.nav-active {
  color: $pink-500;
  border-bottom: 2px solid $pink-500;
  @include breakpoint(sm) {
    color: $blue-500;
    border-bottom: none;
  }
}

.btn-close-pink {
  border: none;
  background-color: transparent;
}
